body{
  background-color: #e7dfdf;
  margin: 0px,0px,0px,0px;
}

.containter {
  height: 50%;
  width: 70%;
  color:white;
  background-color: #9d1515;
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%;
  float: center;
}

a {
  color:#eeff00;
  
}
body{
  background-color: #e7dfdf;
  margin: 0px,0px,0px,0px;
}